<form
  
>
  <div class="container" style="background-color: beige">
    <div class="col-md-4">
      <h2 style="text-align: center">
        <form>
          <!-- <div class="form-group">
            <label
              style="
                font-style: italic;
                font-size: small;
                color: black;
              
              "
              >Society Name</label
            >
            <input
              class="form-control"
              type="Text"
              id="societyName"
              [(ngModel)]="cooperativesociety.societyName"
              name="societyName"
            />
          </div>
          <div class="form-group">
            <label
              style="
                font-style: italic;
                font-size: small;
                color: black;
                
              "
              >Head of Society</label
            >
            <input
              class="form-control"
              type="text"
              id="headOfSociety"
              [(ngModel)]="cooperativesociety.headOfSociety"
              name="headOfSociety"
            />
          </div>
          <div class="form-group">
            <label
              style="
                font-style: italic;
                font-size: small;
                color: black;
                
              "
              >Village</label
            >
            <input
              class="form-control"
              type="text"
              id="village"
              [(ngModel)]="cooperativesociety.village"
              name="village"
            />
          </div>
          <div class="form-group">
            <label
              style="
                font-style: italic;
                font-size: small;
                color: black;
                
              "
              >District</label
            >
            <input
              class="form-control"
              type="text"
              id="district"
              [(ngModel)]="cooperativesociety.district"
              name="district"
            />
          </div>
          <div class="form-group">
            <label
              style="
                font-style: italic;
                font-size: small;
                color: black;
                
              "
              >Pincode</label
            >
            <input
              class="form-control"
              type="text"
              id="pincode"
              [(ngModel)]="cooperativesociety.pincode"
              name="pincode"
            />
          </div> -->
        </form>
      </h2>
    </div>
  </div>
</form>
